/* ========== RESET ========== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f1f5f9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI";
}

/* ========== LAYOUT ========== */
.layout {
  display: flex;
}

/* sidebar space */
app-sidebar {
  width: 240px;
  flex-shrink: 0;
}

/* content area */
.content {
  /* margin-left: 240px; */
  width: calc(100% - 240px);
  min-height: 100vh;

  /* CENTER CARD */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #f1f5f9;
  padding: 20px;
}

/* page title */
.content h2 {
  margin: 0 0 20px 0;
  font-size: 22px;
  font-weight: 600;
  color: #0f172a;
}

/* ========== CARD ========== */
.form-box {
  width: 100%;
  max-width: 420px;
  background: #ffffff;
  padding: 28px;
  border-radius: 14px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

/* inputs & select */
.form-box input,
.form-box select {
  width: 100%;
  padding: 11px 12px;
  margin-bottom: 6px;
  border-radius: 8px;
  border: 1px solid #cbd5f5;
  font-size: 14px;
  color: #1e293b;
}

/* focus */
.form-box input:focus,
.form-box select:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15);
}

/* error text */
.error {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  color: #ef4444;
}

/* button */
.form-box button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #2563eb;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.form-box button:disabled {
  background: #94a3b8;
  cursor: not-allowed;
}

.form-box button:hover:not(:disabled) {
  background: #1d4ed8;
}
