
.layout {
  display: flex;
  min-height: 100vh;
  background: #f1f5f9;
}

app-sidebar {
  width: 240px;
  flex-shrink: 0;
}

.content {
  margin-left: 40px;
  width: calc(100% - 240px);
  padding: 24px;
}

.top-bar {
  background: white;
  padding: 16px 20px;
  border-radius: 12px;
  margin-bottom: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

.top-bar h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.logout-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 32px;
}

.stat-card {
  padding: 20px;
  border-radius: 14px;
  color: white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.stat-card h4 {
  font-size: 14px;
  margin-bottom: 8px;
}

.stat-card p {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.customers { background: #2563eb; }
.providers { background: #16a34a; }
.services { background: #f59e0b; }
.appointments { background: #dc2626; }


.table-card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #1e293b;
  color: white;
  padding: 12px;
  text-align: left;
}

td {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
}

tr:hover {
  background: #f8fafc;
}

.empty {
  text-align: center;
  color: #64748b;
}
