.layout {
  display: flex;
}

.content {
  padding: 20px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
